@media screen and (min-width:1440px) {

    .footer-section {
        max-width: 1440px;
    }

    .nav-footer {
        display: flex;
        gap: 370px;
        align-items: center;
        
    }


    .navigation-list-footer {
        display: flex;
        gap: 32px;

        font-weight: 400;
        font-size: 14px;
        line-height: 1.3em;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--main-text-color);
    }

    .logo-name-footer {
        align-items: center;
       
    }

    .social-icon-footer {
        width: 24px;
        height:24px;
    }

}
