<footer class="footer">
        <section class="footer-section">





        <nav class="nav-footer">

            <ul   class="navigation-list-footer">
    
                <li class="navigation-item-footer" > 
                    <a href="../index.html" class="navigation-home" >home</a>
                 </li>
                <li class="navigation-item-footer" > 
                    <a href="../hotel-page.html" class="navigation-hotel" >hotel</a>
                </li>
                <li class="navigation-item-footer" >
                     <a href="../restaurant.html" class="navigation-restaurant" >restaurant</a> 
                    </li>
            </ul>

            <a href="../index.html" lang="en" class="logo-name-footer">Mimino</span><span class="logo-description-footer">restaurant-hotel complex</span></a>

        </nav>

            <ul class="social-list-footer">
                            <li> <a href="https://www.instagram.com/accounts/login/"> 
                                <svg class="social-icon-footer">
                                <use href="../img/sprite.svg#icon-instagram"></use>
                                </svg> 
                                 </a>
                            </li>
                            <li> <a href="https://uk-ua.facebook.com/"> 
                                <svg class="social-icon-footer">
                                <use href="../img/sprite.svg#icon-facebook"></use>
                                </svg> 
                                </a> 
                            </li>
                            <li> <a href="https://twitter.com/twitter?lang=uk"> 
                                <svg class="social-icon-footer">
                                <use href="../img/sprite.svg#icon-twitter"></use>
                                </svg> 
                                </a>
                             </li>
            </ul>

        </section>

    </footer>