<header class="header-wt">
    <section class="header-section">

        
        
        <nav class="navigation-header">

            <ul   class="navigation-list-wt">

                <li class="navigation-item" > 
                    <a href="../index.html" class="navigation-index" >home</a>
                 </li>
                <li class="navigation-item" > 
                    <a href="../hotel-page.html" class="navigation-home navigation-home-wt" >hotel</a>
                </li>
                <li class="navigation-item" >
                     <a href="../restaurant.html" class="navigation-restaurant" >restaurant</a> 
                    </li>
            </ul>

            <button type="button" class="menu-button"
            aria-controls="menu-container"
            aria-expanded="false"
            data-menu-button>
                <svg width="28px" height="28px"
                aria-label="Перемикач мобільного меню"
                aria-controls>
                    <use class="icon-menu-wt" href="../img/sprite.svg#icon-menu"></use>
                    <use class="icon-cross-wt" href="../img/sprite.svg#icon-x-close"></use>
                </svg>

            </button>

             <div class="menu-container menu-container-wt" id="menu-container" data-menu>
                <div class="mob-menu-flex">

                
                    <nav class="mob-navigation">

                        <ul   class="navigation-list-mob">

                            <li class="navigation-item-mob" > 
                                <a href="../index.html" class="navigation-home-mob" >home</a>
                             </li>
                            <li class="navigation-item-mob" > 
                                <a href="../hotel-page.html" class="navigation-hotel-mob" >hotel</a>
                            </li>
                            <li class="navigation-item-mob" >
                                 <a href="../restaurant.html" class="navigation-restaurant-mob" >restaurant</a> 
                                </li>
                        </ul>

                        
                    </nav>

                    <ul class="social-icon-list-mob">
                        <li> <a href="https://www.instagram.com/accounts/login/"> 
                            <svg class="social-icon-mob-wt" width="20px" height="20px">
                            <use href="../img/sprite.svg#icon-instagram"></use>
                            </svg> 
                             </a>
                        </li>
                        <li> <a href="https://uk-ua.facebook.com/"> 
                            <svg class="social-icon-mob-wt" width="20px" height="20px">
                            <use href="../img/sprite.svg#icon-facebook"></use>
                            </svg> 
                            </a> 
                        </li>
                        <li> <a href="https://twitter.com/twitter?lang=uk"> 
                            <svg class="social-icon-mob-wt" width="20px" height="20px">
                            <use href="../img/sprite.svg#icon-twitter"></use>
                            </svg> 
                            </a>
                         </li>
                    </ul>

                </div>

                    
                
               
             </div>  



            <a href="../index.html" lang="en" class="logo-name-wt">Mimino</span><span class="logo-description-wt">restaurant-hotel complex</span></a>
            

           

        </nav>


        <ul class="social-icon-list">
            <li> <a href="https://www.instagram.com/accounts/login/"> 
                <svg class="social-icon-wt" width="20px" height="20px">
                <use href="../img/sprite.svg#icon-instagram"></use>
                </svg> 
                 </a>
            </li>
            <li> <a href="https://uk-ua.facebook.com/"> 
                <svg class="social-icon-wt" width="20px" height="20px">
                <use href="../img/sprite.svg#icon-facebook"></use>
                </svg> 
                </a> 
            </li>
            <li> <a href="https://twitter.com/twitter?lang=uk"> 
                <svg class="social-icon-wt" width="20px" height="20px">
                <use href="../img/sprite.svg#icon-twitter"></use>
                </svg> 
                </a>
             </li>
        </ul>

    </section>

</header>