<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="./modal.css" rel="stylesheet" />
	<script src="./modal.js"></script>
	<script src="./modal-popup.js"></script>
</head>
<body>

  <div class="backdrop is-hidden" data-modal>
    <div class="modal-table">
        <button type="button" data-modal-table-close class="modal-close">
            <svg class="icon-close" width="28px" height="28px">
                <use href="../img/modal.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-title"> BOOK&nbsp;<i>A TABLE</i>  </p>
        <form class="modal-form">

            <div class="modal-field">
                <div class="input-wrap">
                    <input type="text" class="modal-input" name="user-name" id="user-name" 
                    placeholder="Your name"
                        required>
                </div>
                 <label for="user-name" class="modal-input-text">Who should book a table for?</label>
            </div>

            <div class="modal-field">
                <div class="input-wrap">
                    <input type="tel" class="modal-input" name="user-phone" id="user-phone" 
                    placeholder="NUMBER OF PEOPLE" required>

                    <svg class="modal-input-icon" width="20px" height="20px">
                        <use href="../img/modal.svg#icon-chevron-down"></use>
                    </svg>
                </div>
                <label for="user-phone" class="modal-input-text"></label>
            </div>


            <!-- всплывающее окно -->
            <div class="popup">
                <button class="popup-item">1 person</button>
                <button class="popup-item">2 people</button>
                <button class="popup-item">3 people</button>
                <button class="popup-item">4 people</button>
            </div>
            </div>

            <div class="modal-field"></div>
        <div class="input-wrap">
             <input type="tel" class="modal-input" name="user-phone" id="user-phone" 
               placeholder="TODAY" required>
                <svg class="modal-input-icon" width="18px" height="24px">
             <use href="./images/sprite.svg#icon-chevron-down"></use>
               </svg>
                <label for="user-phone" class="modal-input-text"></label>
              </div>
          

              <div class="modal-field">
             <div class="input-wrap">
              <input type="tel" class="modal-input" name="user-name" id="user-name" 
              placeholder="+ 38 ()" required>
            </div>
        <label for="user-name" class="modal-input-text">Phone number</label>
            </div>
            

            <button type="submit" class="modal-button">MAKE A RESERVATION</button>
        </form>
    </div>
</div>

</body>
</html>