
.home-hero {
    background-color: #121212;
    text-align: center;
}
.home-hero-picture { 
    background-color: linear-gradient(to bottom, #000, #121212);
    
}


.home-hero-title {
    max-width: 283px;
    margin-left: auto;
    margin-right: auto;
    color: var(--title-white);
    font-size: 80px;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    }

@media screen and (max-width: 374px)  {
    .home-hero-picture {
        background-image: linear-gradient(to bottom, rgba(0.0, 0.0, 0.0, 0.71), rgba(0.07, 0.07, 0.07, 1)),url("../img/home-hero/home-hero-mob-1x");
        width: 335px; 
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .home-hero-picture {
            background-image: linear-gradient(to bottom, rgba(0.0, 0.0, 0.0, 0.71), rgba(0.07, 0.07, 0.07, 1)), url("../img/home-hero/home-hero-mob-2x.jpg"); 
        }
    }
 }
 @media screen and (min-width: 375px) {
    .home-hero-picture {
        background-image: linear-gradient(to bottom, rgba(0.0, 0.0, 0.0, 0.71), rgba(0.07, 0.07, 0.07, 1)), url("../img/home-hero/home-hero-tab-1x.jpg"); 
        width: 542px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .home-hero-picture {
            background-image: linear-gradient(to bottom, rgba(0.0, 0.0, 0.0, 0.71), rgba(0.07, 0.07, 0.07, 1)), url("../images/hero-tab-2x.jpg"); 
        }
    }
 }
 @media screen and (min-width: 768px) {
    .home-hero-picture {
        background-image: linear-gradient(to bottom, rgba(0.0, 0.0, 0.0, 0.71), rgba(0.07, 0.07, 0.07, 1)), url("../img/home-hero/home-hero-desk-1x.jpg");
        background-size: cover; 
        width: 542px;
     }
     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
        .home-hero-picture {
            background-image: linear-gradient(to bottom, rgba(0.0, 0.0, 0.0, 0.71), rgba(0.07, 0.07, 0.07, 1)), url("../img/home-hero/home-hero-desk-2x.jpg");
        }
     
     }
    }