


.hotel-text {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  font-family: 'DM Sans'; /* Add Solomenko Yevhenii */
  margin-top: 0; /* Add Solomenko Yevhenii */
  margin-bottom: 0; /* Add Solomenko Yevhenii */





/* +++++++++++++++ TRIPLE AND FOUR ROOM Section | Hotel Page +++++++++++++++ */

/* Додав font-family: DMSans-bold; до .hotel-suptitle, та правий і лівий паддінги до контейнеру. Додав font-family: DMSans до .hotel-text */

.triple-room, .four-room {
  /* padding-top: 32px; */
  padding-bottom: 64px;
}

.hotel-page-container {
  max-width: 375px;
  margin: 0 auto;

  padding-left: 20px; 
  padding-right: 20px; 
}

.hotel-room-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hotel-room-list-desktop {
  display: none;
}

.insert-triple-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  gap: 19px;
}

.hotel-room-item-img {
  display: block;
}

.hotel-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 28px;
}

.hotel-section-btn-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  gap: 12px;
}

.hotel-section-btn-item {

}

.hotel-section-btn {
  border: 0.8px solid #121212;
  border-radius: 32px;
  padding: 8px 18px;
  background-color: transparent;

  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #121212;
}

.hotel-section-link {
  display: block;
  text-decoration: none;
}


/* TRIPLE AND FOUR ROOM Section | Hotel Page | Tablet Version */

@media screen and (max-width: 374px) {
  .hotel-room-item-img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}


@media screen and (min-width: 768px) {

  .triple-room, .four-room {
    padding-bottom: 80px;
  }

  .hotel-page-container {
    max-width: 768px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
  }

  .hotel-room-list {
    flex-wrap: nowrap;
    gap: 32px;
  }

  .insert-triple-list {
    flex-direction: column;
    gap: 32px;
  }

  .hotel-text-wrapper {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 40px;
  }

  .hotel-suptitle {
    font-size: 40px;
    line-height: 1.1;
    margin-top: 40px;
  }

  .hotel-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .hotel-section-btn-list {
    gap: 14px;
  }

  .four-list.hotel-room-list {
    flex-direction: row-reverse;
  }

  .four-list .insert-triple-list{
    align-items: end;
  }

  .four-room .hotel-section-btn-list {
    justify-content: end;
  }

  .hotel-section-btn {
    padding: 8px 24px;
  }
}


@media screen and (min-width: 1440px) {

  .triple-room, .four-room {
    padding-bottom: 100px;
  }

  .hotel-page-container {
    max-width: 1440px;
  }

  .hotel-room-list {
    display: none;
  }

  .hotel-room-list-desktop {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    gap: 32px;
    align-items: center;
  }

  .hotel-text-wrapper {
    margin-bottom: 0;
  }

  .hotel-suptitle {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .hotel-room-footer {
    display: flex;
    justify-content: space-between;
  }

  .hotel-section-btn-list {
    margin-top: 50px;
  }

  .triple-room .hotel-room-footer {
    flex-direction: row-reverse;
  }

  .hotel-section-btn {
    padding: 9px 24px;
  }
}





/* .container-galery {
  width: 100%;
  padding-left: 32px;
  overflow: hidden;
}

.galery-list {
  list-style: none;
  padding: 0;

  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
} 

