@font-face {
  font-family: DMSans;
  font-weight: normal;
  src: url(./fonts/DMSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: DMSans-bold;
  font-weight: bold;
  src: url(./fonts/DMSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: DMSans-bolditalic;
  font-weight: 700;
  src: url(./fonts/DMSans-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: DMSans-italic;
  font-weight: normal;
  src: url(./fonts/DMSans-Italic.ttf) format("truetype");
}
@font-face {
  font-family: DMSans-medium;
  font-weight: normal; 
  src: url(./fonts/DMSans-Medium.ttf) format("truetype");
}
@font-face {
  font-family: DMSans-medium-italic;
  font-weight: normal;
  src: url(./fonts/DMSans-MediumItalic.ttf) format("truetype");
}






@import url('./reset.css');
@import url('./about.css');
@import url('./header.css');
@import url('./root.css');


:root {
  /* Усі заголовки на чорному фоні і підзаголовки, кнопки, а також тексти і review*/
  --title-white: #F6F6F6;
  /* Підзаголовок у хедері на чорному фоні, підзаголовки у модальних вікнах та грамування у меню*/
  --subtitle-white: #D8D7D7;
/* Текст меню ресторана на чорному фоні */
  --small-text-white: rgba(216, 215, 215, 0.5);
  /* На білому фоні усі тексти */
  --title-black: #121212;
  /* Маленькі заголовки на мейні */
  --small-title-black: #484848;

  --transition-property: color;
  --transition-duration: 250ms;

  /* Підзаголовок review */
  --review: #575757;
  }

  @import url('./home-hero.css');
  