
@import url('./reset.css');
@import url('./about.css');
@import url('./root.css');
@import url('./header.css');

@import url('./home-hero.css');



:root {
  /* Усі заголовки на чорному фоні і підзаголовки, кнопки, а також тексти і review*/
  --title-white: #F6F6F6;
  /* Підзаголовок у хедері на чорному фоні, підзаголовки у модальних вікнах та грамування у меню*/
  --subtitle-white: #D8D7D7;
/* Текст меню ресторана на чорному фоні */
  --small-text-white: rgba(216, 215, 215, 0.5);
  /* На білому фоні усі тексти */
  --title-black: #121212;
  /* Маленькі заголовки на мейні */
  --small-title-black: #484848;

  --transition-property: color;
  --transition-duration: 250ms;

  /* Підзаголовок review */
  --review: #575757;
  }
 

.home-hero-title {
   
        margin-left: auto;
        margin-right: auto;
        color: var(--title-white);
        font-size: 80px;
        line-height: 1;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        }

    .home-hero-feature {
        display: flex;
    }
    .home-hero-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 0.05em;
        color: var(--title-white);
    }
 
  