
@font-face {
  font-family: DMSans;
  font-weight: normal;
  src: url(./fonts/DMSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: DMSans-bold;
  font-weight: bold;
  src: url(./fonts/DMSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: DMSans-bolditalic;
  font-weight: 700;
  src: url(./fonts/DMSans-BoldItalic.ttf) format("truetype");
}
@font-face {
  font-family: DMSans-italic;
  font-weight: normal;
  src: url(./fonts/DMSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: DMSans-medium;
  font-weight: normal;
  src: url(./fonts/DMSans-Medium.ttf) format('truetype');
}
@font-face {
  font-family: DMSans-medium-italic;
  font-weight: normal;
  src: url(./fonts/DMSans-MediumItalic.ttf) format('truetype');
}

@import url('./reset.css');


@import url('./root.css');


@import url('./header.css');
@import url('./root.css');

@import url('./home-hero.css');



:root {
  /* Усі заголовки на чорному фоні і підзаголовки, кнопки, а також тексти і review*/
  --title-white: #f6f6f6;
  /* Підзаголовок у хедері на чорному фоні, підзаголовки у модальних вікнах та грамування у меню*/
  --subtitle-white: #d8d7d7;
  /* Текст меню ресторана на чорному фоні */
  --small-text-white: rgba(216, 215, 215, 0.5);
  /* На білому фоні усі тексти */
  --title-black: #121212;
  /* Маленькі заголовки на мейні */
  --small-title-black: #484848;

  --transition-property: color;
  --transition-duration: 250ms;

  /* Підзаголовок review */
  --review: #575757;

  }
 
  

  .home-hero {
    background-color: #121212;
} 
@media screen and (max-width: 767px) {
    .home-hero {
        padding-top: 40px;
        padding-bottom: 40px;
    }

}
.container {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* background-image */

@media screen and (max-width: 767px)  {
    .home-hero-picture {
        background-image: url("/src/img/home-hero/home-hero-mob-1x.jpg");
       
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .home-hero-picture {
            background-image: url("/src/img/home-hero/home-hero-mob-2x.jpg"); 
        }
    }
 }
 @media screen and (min-width: 768px) {
    .home-hero-picture {
        background-image: url("/src/img/home-hero/home-hero-tab-1x.jpg"); 
        width: 542px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .home-hero-picture {
            background-image: url("/src/img/home-hero/home-hero-tab-2x.jpg"); 
        }
    }
 }
@media screen and (min-width: 1440px) {
    .home-hero-picture {
        background-image: url("/src/img/home-hero/home-hero-desk-1x.jpg");
        background-size: cover; 
        width: 542px;
        height: 770px;
     }
     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
        .home-hero-picture {
            background-image: url("/src/img/home-hero/home-hero-desk-2x.jpg");
        }
     }
    }


.home-hero-picture {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  width: 335px;
  height: 439px;
  text-align: center;
   }
  .home-hero-title {
  position: absolute;
  bottom: -30px;
  left: 26px;
  right: 26px;
  margin-left: auto;
  margin-right: auto;
  color: #f6f6f6;
  font-size: 80px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.02;
  text-align: center;
  text-transform: uppercase;
  }
  .home-hero-buttons {
    position: absolute;
    bottom: -92px;
    left: 26px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    
  }
  .home-hero-button {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: #F6F6F6;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: 0.8px solid #F6F6F6;
    border-radius: 32px;
    padding: 8px 18px;
  }
  .book-room {
    margin-right: 20px;
  }
.home-hero-feature {
  display: flex;
  flex-direction: column;
  width: 338px;
  margin-top: 154px;
  margin-left: auto;
  margin-right: auto;
}
.home-hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.05em;
  color: #f6f6f6;
  width: 100%;
  text-transform: uppercase;
}
hero-text-italic {
  font-style: oblique;
}
.home-hero-text:not(:last-child) {
  margin-bottom: 32px;
}


/* tablett */

@media screen and (min-width: 768px) {
  .home-hero {
      padding-top: 50px;
      padding-bottom: 38px;
      padding-left: 0;
      text-align: center;
  }
  .container {
      width: 768px;
      padding-left: 32px;
      padding-right: 32px;
   }
  .home-hero-picture {
    position: relative;
    width: 542px;
    height: 710px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url("/src/img/home-hero/home-hero-tab-2x.jpg");
  }
  .home-hero-title {
    position: absolute;
    bottom: 82px;
    left: 1px;
    width: 100%;
    font-size: 150px;
  }
  .home-hero-buttons {
    position: absolute;
    bottom: 8px;
    left: 120px;
   
  }
  .home-hero-button {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -0.02em;
    color: #F6F6F6;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border: 0.8px solid #F6F6F6;
    border-radius: 32px;
    padding: 8px 24px;
  }
  .home-hero-feature {
    display: flex;
    flex-direction: row;
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .home-hero-text {
    width: 100%;
    text-align: left;
  }
  .home-hero-text:not(:last-child) {
    margin-right: 32px;
  }
  }

  /* desktop */

  @media screen and (min-width: 1440px) {
    .home-hero {
      padding-top: 0.01px;
      padding-bottom: 0.01px;
      height: 770px;
    }
    .container {
      width: 1440px;
      padding-right: 0;
      position: relative;
    }
    .home-hero-picture {
      position: absolute;
      bottom: -10px;
      right: 0;
      height: 770px;
      background-image: url("/src/img/home-hero/home-hero-desk-2x.jpg");
      background-repeat: no-repeat;
      background-size: contain;
    }
    .home-hero-title {
      position: absolute;
      top: 284px;
      left: -1720px;
      font-size: 160px;
    }
    .home-hero-buttons {
      position: absolute;
      bottom: 80px;
      left: 90px;
      }
    .home-hero-feature {
      display: flex;
    flex-direction: row;
    margin-top: 650px;
    }
    .home-hero-text {
      width: 338px;
      margin-bottom: 0;
  }
    .home-hero-text:not(:last-child) {
    margin-right: 32px;
  } 
}

@import url('./home-hero.css');

@import url('./about.css');