<section class="hero-db-room">
  <div class="container">
    <ul class="hotel-db-list">
      <li class="hotel-db-item">
        <picture class="hotel-db-img">
          <source
            srcset="
              ../../img/hotel-page/hotel-dub-desk2-1x.jpg 1x,
              ../../img/hotel-page/hotel-dub-desk2-2x.jpg 2x
            "
            type="image/jpeg "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../../img/hotel-page/hotel-dub-mobil2-1x.jpg 1x,
              ../../img/hotel-page/hotel-dub-mobil2-2x.jpg 2x
            "
            type="image/jpeg "
            media="(max-width: 375px)"
          />

          <img
            src="../../img/hotel-page/hotel-dub-mobil2-1x.jpg"
            alt="image room 1"
            width="386"
            height="395"
          />
        </picture>
      </li>

      <div class="hotel-db-img-grup">
        <li class="hotel-db-item">
          <picture class="hotel-db-img">
            <source
              srcset="
                ../../img/hotel-page/hotel-dub-desk1-1x.jpg 1x,
                ../../img/hotel-page/hotel-dub-desk1-2x.jpg 2x
              "
              type="image/jpeg "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../../img/hotel-page/hotel-dub-mobil1-1x.jpg 1x,
                ../../img/hotel-page/hotel-dub-mobil1-2x.jpg 2x
              "
              type="image/jpeg "
              media="(max-width: 375px)"
            />

            <img
              src="../../img/hotel-page/hotel-dub-mobil1-1x.jpg"
              alt="image room 2"
              width="539"
              height="762"
            />
          </picture>
        </li>
        <li class="hotel-db-item">
          <picture class="hotel-db-img">
            <source
              srcset="
                ../../img/hotel-page/hotel-dub-desk3-1x.jpg 1x,
                ../../img/hotel-page/hotel-dub-desk3-2x.jpg 2x
              "
              type="image/jpeg "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../../img/hotel-page/hotel-dub-mobil3-1x.jpg 1x,
                ../../img/hotel-page/hotel-dub-mobil3-2x.jpg 2x
              "
              type="image/jpeg "
              media="(max-width: 375px)"
            />
            <img
              src="../../img/hotel-page/hotel-dub-mobil3-1x.jpg"
              alt="image room 3"
              width="386"
              height="395"
            />
          </picture>
        </li>
      </div>
    </ul>
    <h3 class="hotel-suptitle">DOUBLE LUXURY ROOM</h3>
    <div class="hotel-db-text-group">
      <p class="hotel-text">
        Experience luxury in our Double Luxury Room at Mimino Hotel. This
        spacious room features a comfortable bed, private bathroom, flat-screen
        TV, and high-speed Wi-Fi. Climate control, blackout curtains, and
        soundproofing ensure a peaceful night's sleep.
      </p>

      <p class="hotel-text">
        Relax after a busy day at the writing desk or armchair. Book now for a
        convenient and comfortable stay.
      </p>
    </div>

    <ul class="hotel-db-btn-group">
      <li>
        <button type="button" class="button page-button" data-modal-open>
          More details
        </button>
      </li>
      <li>
        <button type="button" class="button page-button" data-modal-open>
          View prices
        </button>
      </li>
    </ul>
  </div>
</section>
