<section>

  <div>
    <ul>
      <li>
        <picture>
          <source
            srcset="
              ../../img/hotel-page/hotel-dub-desk1-1x.jpg 1x,
              ../../img/hotel-page/hotel-dub-desk1-2x.jpg 2x
            "
            type="image/jpeg "
            media="(min-width: 1440px)"
          />
          <source
              srcset="
                ../../img/hotel-page/hotel-dub-mobil1-1x.jpg 1x,
                ../../img/hotel-page/hotel-dub-mobil1-2x.jpg 2x
              "
              type="image/jpeg "
              media="(max-width: 375px)"
            />
          <source
            srcset="../../img/hotel-page/hotel-dub-desk1-wp.webp 2x"
            type="image/webp "
            media="(min-width: 320px)"
          />
          <img
            src="../../img/hotel-page/hotel-dub-desk1-1x.jpg"
            alt="image building1"
            width="386"
            height="395"
          />
        </picture>
      </li>
      <li>
        <picture>
          <source
            srcset="
              ../../img/hotel-page/hotel-dub-desk2-1x.jpg 1x,
              ../../img/hotel-page/hotel-dub-desk2-2x.jpg 2x
            "
            type="image/jpeg "
            media="(min-width: 1440px)"
          />
          <source
              srcset="
                ../../img/hotel-page/hotel-dub-mobil2-1x.jpg 1x,
                ../../img/hotel-page/hotel-dub-mobil2-2x.jpg 2x
              "
              type="image/jpeg "
              media="(max-width: 375px)"
            />
          <source
            srcset="../../img/hotel-page/hotel-dub-desk2-wp.webp 2x"
            type="image/webp "
            media="(min-width: 320px)"
          />
          <img
            src="../../img/hotel-page/hotel-dub-desk2-1x.jpg"
            alt="image building1"
            width="539"
            height="762"
          />
        </picture>
      </li>
      <li>desk
        <picture>
          <source
            srcset="
              ../../img/hotel-page/hotel-dub-desk3-1x.jpg 1x,
              ../../img/hotel-page/hotel-dub-desk3-2x.jpg 2x
            "
            type="image/jpeg "
            media="(min-width: 1440px)"
          />
          <source
              srcset="
                ../../img/hotel-page/hotel-dub-mobil3-1x.jpg 1x,
                ../../img/hotel-page/hotel-dub-mobil3-2x.jpg 2x
              "
              type="image/jpeg "
              media="(max-width: 375px)"
            />
          <source
            srcset="../../img/hotel-page/hotel-dub-desk3-wp.webp 2x"
            type="image/webp "
            media="(min-width: 320px)"
          />
          <img
            src="../../img/hotel-page/hotel-dub-desk3-1x.jpg"
            alt="image building1"
            width="386"
            height="395"
          />
        </picture>
      </li>
    </ul>
  </div>

  <h3>DOUBLE LUXURY ROOM</h3>
  <div>
    <p>
      Experience luxury in our Double Luxury Room at Mimino Hotel. This spacious
      room features a comfortable bed, private bathroom, flat-screen TV, and
      high-speed Wi-Fi. Climate control, blackout curtains, and soundproofing
      ensure a peaceful night's sleep.
    </p>

    <p>
      Relax after a busy day at the writing desk or armchair. Book now for a
      convenient and comfortable stay.
    </p>
  </div>

  <ul>
    <li>
      <button type="button" class="button page-button" data-modal-open>
        More details
      </button>
    </li>
    <li>
      <button type="button" class="button page-button" data-modal-open>
        View prices
      </button>
    </li>
  </ul>
</section>




