<section class="hero-db-room">
  <div class="container">
    <div class="hotel-mob-desk-img">
      <div class="hotel-db-list">
        <picture class="hotel-db-img">
          <source
            srcset="
              ./images/hotel-db-deskB-1x.jpg 1x,
              ./images/hotel-db-deskB-2x.jpg 2x
            "
            type="image/jpeg "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/hotel-db-tabB-1x.jpg 1x,
              ./images/hotel-db-tabB-2x.jpg 2x
            "
            type="image/jpeg "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hotel-db-mobB-1x.jpg 1x,
              ./images/hotel-db-mobB-2x.jpg 2x
            "
            type="image/jpeg "
            media="(max-width: 375px)"
          />
          <img
            src="./images/hotel-db-mobB-2x.jpg"
            alt="image room B"
            max-width="539"
            max-height="762"
          />
        </picture>

        <div class="hotel-db-img-grup">
          <picture class="hotel-db-img">
            <source
              srcset="
                ./images/hotel-db-deskW-1x.jpg 1x,
                ./images/hotel-db-deskW-2x.jpg 2x
              "
              type="image/jpeg "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/hotel-db-tabW-1x.jpg 1x,
                ./images/hotel-db-tabW-2x.jpg 2x
              "
              type="image/jpeg "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hotel-db-mobW-1x.jpg 1x,
                ./images/hotel-db-mobW-2x.jpg 2x
              "
              type="image/jpeg "
              media="(max-width: 375px)"
            />
            <img
              src="./images/hotel-db-mobW-2x.jpg"
              alt="image room W"
              max-width="387"
              max-height="510"
            />
          </picture>

          <picture class="hotel-db-img">
            <source
              srcset="
                ./images/hotel-db-deskK-1x.jpg 1x,
                ./images/hotel-db-deskK-2x.jpg 2x
              "
              type="image/jpeg "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./images/hotel-db-tabK-1x.jpg 1x,
                ./images/hotel-db-tabK-2x.jpg 2x
              "
              type="image/jpeg "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/hotel-db-mobK-1x.jpg 1x,
                ./images/hotel-db-mobK-2x.jpg 2x
              "
              type="image/jpeg "
              media="(max-width: 375px)"
            />
            <img
              src="./images/hotel-db-mobK-2x.jpg"
              alt="image room 3"
              max-width="386"
              max-height="395"
            />
          </picture>
        </div>
      </div>
    </div>

    <!-- Desktop -->
    <div class="hotel-desktop">
      <picture class="hotel-db-img">
        <source
          srcset="
            ./images/hotel-db-deskK-1x.jpg 1x,
            ./images/hotel-db-deskK-2x.jpg 2x
          "
          type="image/jpeg "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/hotel-db-tabK-1x.jpg 1x,
            ./images/hotel-db-tabK-2x.jpg 2x
          "
          type="image/jpeg "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hotel-db-mobK-1x.jpg 1x,
            ./images/hotel-db-mobK-2x.jpg 2x
          "
          type="image/jpeg "
          media="(max-width: 375px)"
        />
        <img
          src="./images/hotel-db-mobK-2x.jpg"
          alt="image room 3"
          max-width="386"
          max-height="395"
        />
      </picture>
      <picture class="hotel-db-img">
        <source
          srcset="
            ./images/hotel-db-deskB-1x.jpg 1x,
            ./images/hotel-db-deskB-2x.jpg 2x
          "
          type="image/jpeg "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/hotel-db-tabB-1x.jpg 1x,
            ./images/hotel-db-tabB-2x.jpg 2x
          "
          type="image/jpeg "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hotel-db-mobB-1x.jpg 1x,
            ./images/hotel-db-mobB-2x.jpg 2x
          "
          type="image/jpeg "
          media="(max-width: 375px)"
        />
        <img
          src="./images/hotel-db-mobB-2x.jpg"
          alt="image room B"
          max-width="539"
          max-height="762"
        />
      </picture>

      <picture class="hotel-db-img">
        <source
          srcset="
            ./images/hotel-db-deskW-1x.jpg 1x,
            ./images/hotel-db-deskW-2x.jpg 2x
          "
          type="image/jpeg "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/hotel-db-tabW-1x.jpg 1x,
            ./images/hotel-db-tabW-2x.jpg 2x
          "
          type="image/jpeg "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/hotel-db-mobW-1x.jpg 1x,
            ./images/hotel-db-mobW-2x.jpg 2x
          "
          type="image/jpeg "
          media="(max-width: 375px)"
        />
        <img
          src="./images/hotel-db-mobW-2x.jpg"
          alt="image room W"
          max-width="387"
          max-height="510"
        />
      </picture>
    </div>

    <!-- futer db room -->

    <div class="footer-db">
      <div class="footer-db-text">
        <h3 class="hotel-suptitle">DOUBLE LUXURY ROOM</h3>
        <div class="hotel-db-text-group">
          <p class="hotel-text">
            Experience luxury in our Double Luxury Room at Mimino Hotel.
            This spacious room features a comfortable bed, private
            bathroom, flat-screen TV, and high-speed Wi-Fi. Climate
            control, blackout curtains, and soundproofing ensure a
            peaceful night's sleep.
          </p>

          <p class="hotel-text">
            Relax after a busy day at the writing desk or armchair. Book
            now for a convenient and comfortable stay.
          </p>
        </div>
      </div>
      <ul class="hotel-db-btn-group">
        <li>
          <button
            type="button"
            class="button page-button"
            data-modal-open
          >
            More details
          </button>
        </li>
        <li>
          <button
            type="button"
            class="button page-button"
            data-modal-open
          >
            View prices
          </button>
        </li>
      </ul>
    </div>
  </div>

