<section class="triple-room">
    <div class="hotel-page-container">

        <!-- Triple Room | Images -->
        <ul class="triple-list hotel-room-list">
            <li class="hotel-room-item">
                <picture>
                    <source 
                        srcset="../../img/hotel-page/hotel-room-mobile/hotel-triple-bed-mobile-1x.jpg 1x, ../../img/hotel-page/hotel-room-mobile/hotel-triple-bed-mobile-2x.jpg 2x"
                        media="(min-width: 375px and max-width: 767px)"
                        type="image/jpeg"
                    >
                    <source 
                        srcset="../../img/hotel-page/hotel-room-tablet/hotel-triple-bed-tablet-1x.jpg 1x, ../../img/hotel-page/hotel-room-tablet/hotel-triple-bed-tablet-2x.jpg 2x"
                        media="(min-width: 768px)"
                        type="image/jpeg"
                    >
                    <img src="../../img/hotel-page/hotel-room-mobile/hotel-triple-bed-mobile-1x.jpg" alt="King-size bed in triple room" srcset="../../img/hotel-page/hotel-room-mobile/hotel-triple-bed-mobile-1x.jpg 1x, ../../img/hotel-page/hotel-room-mobile/hotel-triple-bed-mobile-2x.jpg 2x" class="hotel-room-item-img">
                </picture>
                
            </li>
            <li class="hotel-room-item">
                <ul class="insert-triple-list">
                    <li class="insert-hotel-room-item">
                        <picture>
                            <source 
                                srcset="../../img/hotel-page/hotel-room-mobile/hotel-triple-bath-mobile-1x.jpg 1x, ../../img/hotel-page/hotel-room-mobile/hotel-triple-bath-mobile-2x.jpg 2x"
                                media="(min-width: 375px and max-width: 767px)"
                                type="image/jpeg"
                            >
                            <source 
                                srcset="../../img/hotel-page/hotel-room-tablet/hotel-triple-bath-tablet-1x.jpg 1x, ../../img/hotel-page/hotel-room-tablet/hotel-triple-bath-tablet-2x.jpg 2x"
                                media="(min-width: 768px)"
                                type="image/jpeg"
                            >
                            <img src="../../img/hotel-page/hotel-room-mobile/hotel-triple-bath-mobile-1x.jpg" alt="Bathroom in triple room" srcset="../../img/hotel-page/hotel-room-mobile/hotel-triple-bath-mobile-1x.jpg 1x, ../../img/hotel-page/hotel-room-mobile/hotel-triple-bath-mobile-2x.jpg 2x" class="hotel-room-item-img">
                        </picture>
                    </li>
                    <li class="insert-hotel-room-item">
                        <picture>
                            <source
                            srcset="../../img/hotel-page/hotel-room-mobile/hotel-triple-kitchen-mobile-1x.jpg 1x, ../../img/hotel-page/hotel-room-mobile/hotel-triple-kitchen-mobile-2x.jpg 2x"
                            media="(min-width: 375px and max-width: 767px)"
                            >
                            <source 
                                srcset="../../img/hotel-page/hotel-room-tablet/hotel-triple-kitchen-tablet-1x.jpg 1x, ../../img/hotel-page/hotel-room-tablet/hotel-triple-kitchen-tablet-2x.jpg 2x"
                                media="(min-width: 768px)"
                            >
                            <img src="../../img/hotel-page/hotel-room-mobile/hotel-triple-kitchen-mobile-1x.jpg" srcset="../../img/hotel-page/hotel-room-mobile/hotel-triple-kitchen-mobile-1x.jpg 1x, ../../img/hotel-page/hotel-room-mobile/hotel-triple-kitchen-mobile-2x.jpg 2x" alt="Kitchen in triple room" class="hotel-room-item-img">
                        </picture>
                    </li>
                </ul>
            </li>

        </ul>

        <!-- Triple Room | Images | DESKTOP Version-->
        <ul class="hotel-room-list-desktop">
            <li class="triple-item hotel-room-item-desktop">
                <img src="../../img/hotel-page/hotel-room-desktop/hotel-triple-kitchen-desktop-1x.jpg" srcset="../../img/hotel-page/hotel-room-desktop/hotel-triple-kitchen-desktop-1x.jpg 1x, ../../img/hotel-page/hotel-room-desktop/hotel-triple-kitchen-desktop-2x.jpg 2x" alt="Kitchen in triple room" class="hotel-room-item-img">
            </li>
            <li class="triple-item hotel-room-item-desktop">
                <img src="../../img/hotel-page/hotel-room-desktop/hotel-triple-bed-desktop-1x.jpg" alt="King-size bed in triple room" srcset="../../img/hotel-page/hotel-room-desktop/hotel-triple-bed-desktop-1x.jpg 1x, ../../img/hotel-page/hotel-room-desktop/hotel-triple-bed-desktop-2x.jpg 2x" class="hotel-room-item-img">
            </li>
            <li class="triple-item hotel-room-item-desktop">
                <img src="../../img/hotel-page/hotel-room-desktop/hotel-triple-bath-desktop-1x.jpg" alt="Bathroom in triple room" srcset="../../img/hotel-page/hotel-room-desktop/hotel-triple-bath-desktop-1x.jpg 1x, ../../img/hotel-page/hotel-room-desktop/hotel-triple-bath-desktop-2x.jpg 2x" class="hotel-room-item-img">
            </li>
        </ul>

        <div class="hotel-room-footer">
            <!-- Triple Room | Content -->
            <div class="hotel-content-wrapper">
                <h3 class="hotel-suptitle">Triple Room</h3>

                <div class="hotel-text-wrapper">
                    <p class="hotel-text">Escape to our spacious Triple Room, perfect for families or groups. Enjoy comfort with three beds, seating area, stunning views, flat-screen TVs, Wi-Fi, and mini-fridge.</p>
                    <p class="hotel-text">Rejuvenate in the en-suite bathroom with plush towels and toiletries. Book now for a memorable stay.</p>
                </div>
            </div>

            <!-- Triple Room | Buttons -->
            <ul class="hotel-section-btn-list">
                <li class="hotel-section-btn-item">
                    <a href="../../room.html" class="hotel-section-btn hotel-section-link">More details</a>
                </li>
                <li class="hotel-section-btn-item">
                    <button type="button" class="hotel-section-btn">View prices</button>
                </li>
            </ul>
        </div>
    </div>
    
</section>