<section class="mimino-location">
    <div class="mimino-location-map container">
      <div class="mimino-location-kapez">
        <h1 class="mimino-location-title">LOCATION</h1>
        <div class="mimino-location-img">
          <picture>
            <source
              srcset="
                ./img/location/desktop-1x.jpg 1x,
                ./img/location/desktop-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/location/tablet-1x.jpg 1x,
                ./img/location/tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/location/mobile-1x.jpg 1x,
                ./img/location/mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="./img/location/tablet-1x.jpg"
              alt=""
              width="704px"
              height="576px"
            />
          </picture>
        </div>
      </div>

      <div class="mimino-location-address-contact">
        <p class="mimino-address">
          UKRAINE, POLTAVA,<br />ST. MARSHAL BIRYUZOV, 15
        </p>
        <div class="mimino-contact-div">
          <p class="mimino-contact">CALL US:</p>
          <ul class="mimino-contact-list list">
            <li class="mimino-contact-item">
              <a class="mimino-phone-number link" href="tel:(095) 555 95 33"
                >(095) 555 95 33</a
              >
            </li>
            <li>
              <a class="mimino-phone-number link" href="tel:(066) 849 10 89"
                >(066) 849 10 89</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>