<section class="home-restaurant">
    <div class="home-restaurant-div container">
      <div class="home-restaurant-title-call">
        <h1 class="home-restaurant-title">RESTAURANT</h1>
        <p class="home-restaurant-call">
          RELAX AND UNWIND WITH OUR DELICIOUS OFFERINGS, AVAILABLE ANY TIME OF
          DAY.
        </p>
      </div>
      <ul class="home-restaurant-img list">
        <li>
          <picture>
            <source
              srcset="
                ../../img/restaurant/desktop-1-1x.jpg 1x,
                ../../img/restaurant/desktop-1-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../../img/restaurant/tablet-1-1x.jpg 1x,
                ../../img/restaurant/tablet-1-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../../img/restaurant/mobile-1-1x.jpg 1x,
                ../../img/restaurant/mobile-1-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../../img/restaurant/tablet-1-1x.jpg"
              alt=""
              width="336px"
              height="309px"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../../img/restaurant/desktop-2-1x.jpg 1x,
                ../../img/restaurant/desktop-2-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="../../img/restaurant/desctop-2-1x.jpg" alt="" />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../../img/restaurant/desktop-3-1x.jpg 1x,
                ../../img/restaurant/desktop-3-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="../../img/restaurant/desctop-3-1x.jpg" alt="" />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../../img/restaurant/desktop-4-1x.jpg 1x,
                ../../img/restaurant/desktop-4-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../../img/restaurant/tablet-2-1x.jpg 1x,
                ../../img/restaurant/tablet-2-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../../img/restaurant/mobile-2-1x.jpg 1x,
                ../../img/restaurant/mobile-2-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../../img/restaurant/tablet-2-1x.jpg"
              alt=""
              width="336px"
              height="309px"
            />
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="
                ../../img/restaurant/desktop-5-1x.jpg 1x,
                ../../img/restaurant/desktop-5-2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <img src="../../img/restaurant/desctop-5-1x.jpg" alt="" />
          </picture>
        </li>
      </ul>

      <nav class="home-restaurant-nav">
        <ul class="home-restaurant-btn list">
          <li>
            <button class="home-restaurant-button">BOOK A TABLE</button>
          </li>
          <li>
            <form action="page/restaurant.html" target="_blank">
              <button class="home-restaurant-button">VIEW THE MENU</button>
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </section>