<section class="address-section">
    <div class="addres-heading-box">
       <h2 class="address-heading">location</h2>

    <div class="map-window">
        
        <a class="map-link" href="https://goo.gl/maps/V25MLwxu7jFCy3zG7"></a> 
    </div>
        
    </div>

    <address class="address-box">
        <span class="country-location">Ukraine, Poltava,<br>St. Marshal Biryuzov, 15</span>
        
    <div class="phone-flexbox">
        <h3 class="call-us">call us:</h3>


        <ul class="list-phone-numbers">
            <li class="number-phone">
                <a  href="+380955559533">(095) 555 95 33</a>
            </li>
            <li class="number-phone">
                <a  href="+380668491089">(066) 849 10 89</a>
            </li>
        </ul>
    </div>

    </address>

</section>