<section class="home-welcome">
    <div class="home-welcome-container container">
      <div class="home-welcome-div">
        <h2 class="home-welcome-title">
          WELCOME TO THE EPITOME OF LUXURY AND COMFORT
        </h2>
        <ul class="home-welcome-text list">
          <li class="home-welcome-description">
            <p>
              Our hotel rooms are elegantly designed <br />
              with an eye for detail, ensuring that you <br />
              have everything you need for a relaxing <br />
              and rejuvenating stay.
            </p>
          </li>
          <li class="home-welcome-desc">
            <p>
              Each room is equipped with the latest amenities, including plush
              bedding, high-speed Wi-Fi, flat-screen TVs, and a coffee maker
              to help you start your day right. Our spacious bathrooms feature
              luxurious toiletries and towels, so you can pamper yourself in
              complete privacy.
            </p>
          </li>
        </ul>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./img/welcome/desktop-1x.jpg 1x,
              ./img/welcome/desktop-2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/welcome/tablet-1x.jpg 1x,
              ./img/welcome/tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/welcome/mobile-1x.jpg 1x,
              ./img/welcome/mobile-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/welcome/tablet-1x.jpg"
            alt=""
            width="704px"
            height="799px"
          />
        </picture>
      </div>
    </div>
  </section>