<section class="hero-restaurant">
    <div class="container">
        <div class="">
            <h1>Restaurant</h1>
            <button type="button" class="">
                Book a table
            </button>
            <button type="button" class="">
                View a menu
            </button>
        </div>
        <div class="">
            <img 
                src="" 
                alt=""
            >
            <img 
                src="" 
                alt=""
            >
            <img 
                src="" 
                alt=""
            >
            <img 
                src="" 
                alt=""
            >
            <img 
                src="" 
                alt=""
            >
            <img 
                src="" 
                alt=""
            >
        </div>
        <p class="">
            Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.
        </p>
    </div>
</section>