<section class="restaurant-menu">
    <div class="restaurant-container">
        <h2 class="restaurant-menu-title">
            Restaurant menu
        </h2>
        <div class="menu-wrap">
            <div class="restaurant-menu-container">
                <h3 class="restaurant-menu-container-title">
                    Hot meals
                </h3>
                <div class="restaurant-menu-content">
                    <ul class="restaurant-menu-list">
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Veal borscht with beans
                                </p>
                                <p class="restaurant-menu-description">Veal, potatoes, cabbage, carrots, onions, beans, garlic, tomatoes, greens, sour cream</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">400 g</p>
                                <p class="price-container">240 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Cheese soup with chicken
                                </p>
                                <p class="restaurant-menu-description">Chicken, potatoes, carrots, onions, mushrooms, soft cheese, greens</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">400 g</p>
                                <p class="price-container">200 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Carbonara pasta
                                </p>
                                <p class="restaurant-menu-description">Tagliatelle pasta, bacon, cream, Parmesan cheese, egg, greens</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">400 g</p>
                                <p class="price-container">430 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Pork steak
                                </p>
                                <p class="restaurant-menu-description">Pork tenderloin, spices, served with sweet chili sauce and vegetables</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">400 g</p>
                                <p class="price-container">500 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Gorbusha in white wine sauce
                                </p>
                                <p class="restaurant-menu-description">Tender redfish, cream sauce based on white wine</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">400 g</p>
                                <p class="price-container">400 UAH</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="restaurant-menu-container">
                <h3 class="restaurant-menu-container-title">
                    Side dishes and snacks
                </h3>
                <div class="restaurant-menu-content">
                    <ul class="restaurant-menu-list">
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Baked vegetables
                                </p>
                                <p class="restaurant-menu-description">Zucchini, pepper, tomato, eggplant</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">200 g</p>
                                <p class="price-container">230 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    French fries
                                </p>
                                <p class="restaurant-menu-description">Potatoes, tomato sauce</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">150 g</p>
                                <p class="price-container">160 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Peasant-style potatoes
                                </p>
                                <p class="restaurant-menu-description">Potatoes, spices, spicy sauces</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">150 g</p>
                                <p class="price-container">160 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Crisp pickles from the barrel
                                </p>
                                <p class="restaurant-menu-description">Salted cucumber, pickled tomato, sauerkraut, Korean carrot</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">250 g</p>
                                <p class="price-container">350 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Chicken wings in honey sauce
                                </p>
                                <p class="restaurant-menu-description">Chicken wings, mustard-honey sauce, served with carrots, celery and blue cheese sauce</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">400 g</p>
                                <p class="price-container">400 UAH</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="restaurant-menu-container">
                <h3 class="restaurant-menu-container-title">
                    Salads
                </h3>
                <div class="restaurant-menu-content">
                    <ul class="restaurant-menu-list">
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Caesar with chicken
                                </p>
                                <p class="restaurant-menu-description">Chicken fillet, lettuce, cherry tomatoes, Parmesan cheese, croutons, Caesar sauce</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">230 g</p>
                                <p class="price-container">450 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Caesar with shrimp
                                </p>
                                <p class="restaurant-menu-description">Tiger shrimp, lettuce, cherry tomatoes, parmesan cheese, croutons, caesar sauce</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">230 g</p>
                                <p class="price-container">300 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Greek salad
                                </p>
                                <p class="restaurant-menu-description">Fresh cucumber, tomato, bell pepper, olives, brynza cheese, lettuce, sauce</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">230 g</p>
                                <p class="price-container">280 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Meat salad
                                </p>
                                <p class="restaurant-menu-description">Chicken fillet or pork tenderloin, fresh cucumber, tomato, bell pepper, ranch sauce</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">230 g</p>
                                <p class="price-container">300 UAH</p>
                            </div>
                        </li>
                        <li class="restaurant-menu-item">
                            <div class="menu-descr">
                                <p class="restaurant-menu-subtitle">
                                    Gorbusha in white wine sauce
                                </p>
                                <p class="restaurant-menu-description">Tender redfish, cream sauce based on white wine</p>
                            </div>
                            <div class="menu-price">
                                <p class="weight-container">400 g</p>
                                <p class="price-container">400 UAH</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="restaurant-menu-container">
                <h3 class="restaurant-menu-container-title">
                    Desserts
                </h3>
                <div class="restaurant-menu-content">
                    <ul class="restaurant-menu-list">
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-subtitle">
                                Napoleon cake
                            </p>
                            <p class="price-container">200 UAH</p>
                        </li>
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-subtitle">
                                Poppy cake
                            </p>
                            <p class="price-container"> 300 UAH</p>
                        </li>
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-subtitle">
                                Tiramisu
                            </p>
                            <p class="price-container"> 260 UAH</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="restaurant-menu-container">
                <h3 class="restaurant-menu-container-title">
                    Drinks
                </h3>
                <div class="restaurant-menu-content">
                    <ul class="restaurant-menu-list">
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-subtitle">
                                Black/green tea
                            </p>
                            <p class="price-container">100 UAH</p>
                        </li>
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-subtitle">
                                Espresso
                            </p>
                            <p class="price-container"> 100 UAH</p>
                        </li>
                        <li class="restaurant-menu-item">
                            <p class="restaurant-menu-subtitle">
                                Cappuccino
                            </p>
                            <p class="price-container"> 100 UAH</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button type="button" class="restaurant-menu-btn">
            Book a table
        </button>
    </div>
</section>