<section class="room-amenities room-section">
    <div class="room-container">
        <h2 class="visually-hidden">Rooms description</h2>
        <div class="room-amenities-description-wrapper">
            <div class="room-amenities-description">
                <h3 class="room-amenities-title">General Amenities & Facilities:</h3>
                <ul class="room-amenities-list">
                    <li class="room-amenities-item">24-hour front desk service</li>
                    <li class="room-amenities-item">Daily housekeeping</li>
                    <li class="room-amenities-item">Free Wi-Fi throughout the hotel</li>
                    <li class="room-amenities-item">Elevator access</li>
                    <li class="room-amenities-item">Luggage storage</li>
                    <li class="room-amenities-item">Non-smoking rooms available</li>
                    <li class="room-amenities-item">Meeting rooms for business and events</li>
                    <li class="room-amenities-item">On-site parking (surcharge)</li>
                    <li class="room-amenities-item">Concierge services</li>
                </ul>
            </div>
            <div class="room-amenities-description">
                <h3 class="room-amenities-title">Bathroom:</h3>
                <ul class="room-amenities-list">
                    <li class="room-amenities-item">Private bathroom with shower</li>
                    <li class="room-amenities-item">Complimentary toiletries</li>
                    <li class="room-amenities-item">Hair dryer</li>
                    <li class="room-amenities-item">Fresh towels daily</li>
                    <li class="room-amenities-item">Deluxe bathrobes (in some room categories)</li>
                </ul>
            </div>
            <div class="room-amenities-description">
                <h3 class="room-amenities-title">Bedroom:</h3>
                <ul class="room-amenities-list">
                    <li class="room-amenities-item">Comfortable beds with high-quality linens</li>
                    <li class="room-amenities-item">Blackout curtains</li>
                    <li class="room-amenities-item">Climate control (air conditioning and heating)</li>
                    <li class="room-amenities-item">Safe for valuables</li>
                    <li class="room-amenities-item">Writing desk and chair</li>
                    <li class="room-amenities-item">Flat-screen TV with cable channels</li>
                </ul>
            </div>
            <div class="room-amenities-description">
                <h3 class="room-amenities-title">Kitchen:</h3>
                <ul class="room-amenities-list">
                    <li class="room-amenities-item">In-room kitchenette (in some room categories)</li>
                    <li class="room-amenities-item">Refrigerator</li>
                    <li class="room-amenities-item">Microwave</li>
                    <li class="room-amenities-item">Electric kettle</li>
                    <li class="room-amenities-item">Cooking utensils and cutlery</li>
                    <li class="room-amenities-item">Dining table and chairs</li>
                </ul>
            </div>
            <div class="room-amenities-description">
                <h3 class="room-amenities-title">Media:</h3>
                <ul class="room-amenities-list">
                    <li class="room-amenities-item">Flat-screen TV with cable channels</li>
                    <li class="room-amenities-item">High-speed Wi-Fi</li>
                    <li class="room-amenities-item">iPod docking station</li>
                    <li class="room-amenities-item">Speaker system</li>
                    <li class="room-amenities-item">Electrical outlets for charging devices.</li>
                </ul>
            </div>
        </div>

        <!-- Image section -->

        <div class="amenities-img-wrap">
            <picture>
                <source 
                    srcset="../../img/room-page/room-mobile/bathroom-mobile-1x.jpg 1x, ../../img/room-page/room-mobile/bathroom-mobile-2x.jpg 2x"
                    media="(min-width: 375px) and (max-width: 767px)"
                    type="image/jpeg"
                >
                <source 
                    srcset="../../img/room-page/room-tablet/bathroom-tablet-1x.jpg 1x, ../../img/room-page/room-tablet/bathroom-tablet-2x.jpg 2x"
                    media="(min-width: 768px) and (max-width: 1439px)"
                    type="image/jpeg"
                >
                <source 
                    srcset="../../img/room-page/room-desktop/bathroom-desktop-1x.jpg 1x, ../../img/room-page/room-desktop/bathroom-desktop-2x.jpg 2x"
                    media="(min-width: 1440px)"
                    type="image/jpeg"
                >
                <img src="../../img/room-page/room-mobile/bathroom-mobile-1x.jpg" alt="Bathroom" class="amenities-main-img" srcset="../../img/room-page/room-mobile/bathroom-mobile-1x.jpg 1x, ../../img/room-page/room-mobile/bathroom-mobile-2x.jpg 2x">
            </picture>
            
            <div class="amenities-overlay-wrapper">
                <picture>
                    <source 
                        srcset="../../img/room-page/room-mobile/cream-mobile-1x.jpg 1x, ../../img/room-page/room-mobile/cream-mobile-2x.jpg 2x"
                        media="(min-width: 375px) and (max-width: 767px)"
                        type="image/jpeg"
                    >
                    <source 
                        srcset="../../img/room-page/room-tablet/cream-tablet-1x.jpg 1x, ../../img/room-page/room-tablet/cream-tablet-2x.jpg 2x"
                         media="(min-width: 768px) and (max-width: 1439px)"
                        type="image/jpeg"
                    >
                    <source 
                        srcset="../../img/room-page/room-desktop/cream-desktop-1x.jpg 1x, ../../img/room-page/room-desktop/cream-desktop-2x.jpg 2x"
                        media="(min-width: 1440px)"
                        type="image/jpeg"
                    >
                    <img src="../../img/room-page/room-mobile/cream-mobile-1x.jpg" alt="Cream" class="amenities-overlay-img" srcset="../../img/room-page/room-mobile/cream-mobile-1x.jpg 1x, ../../img/room-page/room-mobile/cream-mobile-2x.jpg 2x">
                </picture>
                
                <!-- Amenities Button -->
                <button type="button" class="room-amenities-btn room-btn">book a room</button>
            </div>
        </div>

        

    </div>
</section>