<section class="room-hero room-section">
    <div class="room-hero-container">
        
        <div class="room-hero-wrapper">
            <h1 class="room-hero-title">Double<br> <span class="room-hero-title-italic">luxury</span> room</h1>

            <button type="button" class="room-hero-btn room-btn">view prices</button>
        </div>

        <ul class="room-slider-list">
            <li class="room-slider-item">
                <picture>
                    <source 
                        srcset="../../img/room-page/room-mobile/slider1-mobile-1x.jpg 1x, ../../img/room-page/room-mobile/slider1-mobile-2x.jpg 2x"
                        media="(min-width: 375px) and (max-width: 767px)"
                        type="image/jpeg"
                    >
                    <source 
                        srcset="../../img/room-page/room-tablet/slider1-tablet-1x.jpg 1x, ../../img/room-page/room-tablet/slider1-tablet-2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1439px)"
                        type="image/jpeg"
                    >
                    <source 
                        srcset="../../img/room-page/room-desktop/slider1-desktop-1x.jpg 1x, ../../img/room-page/room-desktop/slider1-desktop-2x.jpg 2x"
                        media="(min-width: 1440px)"
                        type="image/jpeg"
                    >
                    <img src="../../img/room-page/room-mobile/slider1-mobile-1x.jpg" alt="Bed in the room" class="room-slider-img" srcset="../../img/room-page/room-mobile/slider1-mobile-1x.jpg 1x, ../../img/room-page/room-mobile/slider1-mobile-2x.jpg 2x">
                </picture>
               
            </li>
            <li class="room-slider-item">
                <picture>
                    <source 
                        srcset="../../img/room-page/room-mobile/slider2-mobile-1x.jpg 1x, ../../img/room-page/room-mobile/slider2-mobile-2x.jpg 2x"
                        media="(min-width: 375px) and (max-width: 767px)"
                        type="image/jpeg"
                    >
                    <source 
                        srcset="../../img/room-page/room-tablet/slider2-tablet-1x.jpg 1x, ../../img/room-page/room-tablet/slider2-tablet-2x.jpg 2x"
                        media="(min-width: 768px) and (max-width: 1439px)"
                        type="image/jpeg"
                    >
                    <source 
                        srcset="../../img/room-page/room-desktop/slider2-desktop-1x.jpg 1x, ../../img/room-page/room-desktop/slider2-desktop-2x.jpg 2x"
                        media="(min-width: 1440px)"
                        type="image/jpeg"
                    >
                    <img src="../../img/room-page/room-mobile/slider2-mobile-1x.jpg" alt="Bed in the room" class="room-slider-img" srcset="../../img/room-page/room-mobile/slider2-mobile-1x.jpg 1x, ../../img/room-page/room-mobile/slider2-mobile-2x.jpg 2x">
                </picture>
            </li>
        </ul>

        <p class="room-hero-text">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>
    </div>
</section>